extends extends/main.pug


block body
	nav.navbar.navbar-toggleable-sm.navbar-inverse.fixed-top.bg-inverse
		//-button.navbar-toggler.navbar-toggler-right.hidden-lg-up.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-controls='navbar', aria-expanded='false', aria-label='Toggle navigation')
			span.navbar-toggler-icon
		a.navbar-brand(href='/app') Acomins Inspector
		#navbar.navbar-collapse.collapse(aria-expanded='false')
			ul.navbar-nav.mr-auto
				-
					var pages = [
						{ name : "logout", label : "Выйти" }
					]

				each page in pages
					li.nav-item(class={'active' : page.name === currentPage})
						a.nav-link(href=`/${page.name}`)
							| #{page.label} 
							if (page.name === currentPage)
								span.sr-only (current)
	.container-fluid
		.row
			nav.col-sm-3.col-md-2.hidden-xs-down.bg-faded.sidebar
				ul.nav.nav-pills.flex-column
					- 
						const currentTemplate = (template && template.name);

					each template in templates
						li.nav-item
							a.nav-link(href=`/app/${template.name}`, class={ active : currentTemplate === template.name})
								| #{template.label || template.name}
								if currentTemplate === template.name
									span.sr-only (current)
			main.col-sm-9.offset-sm-3.col-md-10.offset-md-2.pt-3
				block html
					if html
						| !{html}
					else
						| Откройте любую страницу
