extends ./extends/users.pug
block userContent
	h1 Новый пользователь
	.create-form
		if error
			.alert.alert-danger(role="alert")
				| #{error}
		form(method="POST", action="")
			.form-group
				label(for='login') Логин пользователя  
				input.form-control(type='text', name="login", placeholder='Введите логин', aria-describedby="loginHelp", value=login || '')
				small#loginHelp.form-text.text-muted Используется для авторизации

			.form-group
				label(for='login') Имя пользователя  
				input.form-control(type='text', name="name", placeholder='Введите имя', value=name || '')
 
			.form-group
				label(for='password') Пароль
				input.form-control(type='password', name="password", placeholder='Введите пароль')
			button.btn.btn-primary(type="submit") Создать