extends ./extends/subs.pug
block subContent
	h1 Новый подшаблон
	.create-form
		if error
			.alert.alert-danger(role="alert")
				| #{error}
		form(method="POST", action="")
			.form-group
				label(for='name') Имя шаблона
				input.form-control(type='text', name="name", placeholder='Введите имя', value=name || '', aria-describedby="nameHelp")
				small#nameHelp.form-text.text-muted В имени используйте только латинские символы в нижнем регистре, цифры и нижние знаки подчеркивания '_'

			.form-group
				label(for='querystring') Запрос 
				textarea.form-control(type='text', name="querystring", placeholder='SQL запрос', aria-describedby="queryHelp") #{querystring || ''}
				.code(data-mode="sql", style="height: 100px")
				small#queryHelp.form-text.text-muted SQL запрос к вашей БД


			.form-group
				label(for='template') Подшаблон 
				textarea.form-control(type='text', name="template",aria-describedby="templateHelp") #{template || ''}
				.code
				small#templateHelp.form-text.text-muted Используйте массив с данными из data[название_шаблона]
				
			button.btn.btn-primary(type="submit") Создать