extends ./extends/templates.pug
block templateContent
	h1 Новая страница
	.create-form
		if error
			.alert.alert-danger(role="alert")
				| #{error}
		form(method="POST", action="")
			.form-group
				label(for='name') Алиас страницы
				input.form-control(type='text', name="name", placeholder='Введите алиас', value=name || '', aria-describedby="nameHelp")
				small#nameHelp.form-text.text-muted В имени используйте только латинские символы в нижнем регистре, цифры и нижние знаки подчеркивания '_'
			.form-group
				label(for='label') Имя страницы для отображения
				input.form-control(type='text', name="label", placeholder='Введите имя', value=label || '', aria-describedby="nameHelp")
				small#nameHelp.form-text.text-muted Имя для отображения в списках

			.form-group
				label(for='string') Шаблон страницы 

				textarea.form-control(type='text', name="string", aria-describedby="stringHelp") #{string || ''}
				.code

				small#stringHelp.form-text.text-muted Подключайте  подшаблоны с помощью include ../sub/название_шаблона.pug
				
			button.btn.btn-primary(type="submit") Создать