extends app
block html
	if (!error.message || !isAdmin)
		h1 InternalError
	else
		if (lang.errors[error.message])
			h3 #{lang.errors[error.message]}
		else
			pre= error.message
		if (error.info)
			pre= JSON.stringify(error.info)