extends ./extends/main.pug
block body
	.auth.container
		form.form-signin
			h2.form-signin-heading Please sign in

			input.form-control(type='text', placeholder='Login', name="login", required=
			true, autofocus='') 

			input.form-control(type='password', name="password", placeholder='Password', required=true)
			button.btn.btn-lg.btn-primary.btn-block(type='submit') Sign in
