extends ./extends/subs.pug
block subContent
	.sub-form
		script.
			window.SUBNAME = '#{sub.name}';

		form(method="POST", action="")
			if querystringError
				.alert.alert-danger(role="alert")
					| #{querystringError}
			.form-group
				h2 Запрос 
				.input-group 
					textarea.form-control(name="querystring") #{sub.querystring}
					.code
					.input-group-btn
						button.btn.btn-primary(type="submit") Сменить

		form(method="POST", action="", data-role="sub-template-form")
			if templateError
				.alert.alert-danger(role="alert")
					| #{templateError}
			.form-group
				h2 Подшаблон 
				.btn-group.block
					button.btn.btn-primary.dropdown-toggle(type="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false") Заменить на готовый подшаблон
					.dropdown-menu
						a.dropdown-item(data-role="apply-preset", data-preset="table", href='#') Обычная таблица
						a.dropdown-item(data-role="apply-preset", data-preset="chartcol", href='#') График столбчатый
						a.dropdown-item(data-role="apply-preset", data-preset="chartline", href='#') График линейный
						a.dropdown-item(data-role="apply-preset", data-preset="chartareal", href='#') График линейный с заливкой
						a.dropdown-item(data-role="apply-preset", data-preset="chartpie", href='#') График круговой
				.input-group 
					textarea.form-control(name="template") #{sub.template}
					.code
					.input-group-btn
						button.btn.btn-primary(type="submit") Сменить

		form(method="POST", action="", data-role="delete-sub", data-confirm)
			.form-group.has-danger
				input(type="hidden", name="deleteSub", value="true")
				label.form-control-label Опасная зона
				.input-group
					button.btn.btn-danger(type="submit") Удалить подшаблон "#{sub.name}"