extends ./extends/templates.pug
block templateContent
	.template-form
		.alert.alert-success(role="alert")
			| Посмотреть страницу можно по <a href="/app/#{template.name}" target="_blank">ссылке</a>

		form(method="POST", action="")
			if labelError
				.alert.alert-danger(role="alert")
					| #{labelError}
			.form-group
				label(for='label') Имя для отображения в списке
				.input-group  
					input.form-control(type='text', name="label", placeholder='Введите имя', value=template.label)
					.input-group-btn
						button.btn.btn-primary(type="submit") Сменить

		form(method="POST", action="")
			if stringError
				.alert.alert-danger(role="alert")
					| #{stringError}
			.form-group
				label(for='string') Шаблон 
				.input-group 
					textarea.form-control(name="string") #{template.string}
					.code
					.input-group-btn
						button.btn.btn-primary(type="submit") Сменить

		form(method="POST", action="", data-role="delete-template", data-confirm)
			.form-group.has-danger
				input(type="hidden", name="deleteTemplate", value="true")
				label.form-control-label Удаление страницы
				.input-group
					button.btn.btn-danger(type="submit") Удалить страницу "#{template.name}