extends ./extends/users.pug
block userContent
	.admin-form
		form(method="POST", action="")
			if loginError
				.alert.alert-danger(role="alert")
					| #{loginError}
			.form-group
				label(for='login') Логин пользователя  
				.input-group
					input.form-control(type='text', name="login", placeholder='Введите логин', value=user.login)
					.input-group-btn
						button.btn.btn-primary(type="submit") Сменить

		form(method="POST", action="")
			if nameError
				.alert.alert-danger(role="alert")
					| #{nameError}
			.form-group
				label(for='name') Имя пользователя
				.input-group  
					input.form-control(type='text', name="name", placeholder='Введите логин', value=user.name)
					.input-group-btn
						button.btn.btn-primary(type="submit") Сменить

		form(method="POST", action="")
			if passwordError
				.alert.alert-danger(role="alert")
					| #{passwordError}
			.form-group
				label(for='password') Пароль пользователя 
				.input-group 
					input.form-control(type='password', name="password", value=user.password, placeholder="Введите новый пароль")
					.input-group-btn
						button.btn.btn-primary(type="submit") Сменить

		form(method="POST", action="")
			.form-group
				label Страницы для пользователей
				each template in templates
					.form-check
						.form-check-label
							input.form-check-input(type='checkbox', name=`templates[${template.name}]`, value="true", checked=(user.templates || []).indexOf(template.name) !== -1)
							|  #{template.label}
				.input-group
					button.btn.btn-primary(type="submit") Сохранить страницы
		
		form(method="POST", action="", data-role="delete-user", data-confirm)
			.form-group.has-danger
				input(type="hidden", name="deleteUser", value="true")
				label.form-control-label Удаление пользователя 
				.input-group
					button.btn.btn-danger(type="submit") Удалить пользователя "#{user.name}"