extends ./main.pug
block body
	nav.navbar.navbar-toggleable-sm.navbar-inverse.fixed-top.bg-inverse
		button.navbar-toggler.navbar-toggler-right.hidden-lg-up.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-controls='navbar', aria-expanded='false', aria-label='Toggle navigation')
			span.navbar-toggler-icon
		a.navbar-brand(href='/admin') Страница администратора
		#navbar.navbar-collapse.collapse(aria-expanded='false')
			ul.navbar-nav.mr-auto
				- 	
					var pages = [
						{ name : "users", label : "Пользователи" },
						{ name : "templates", label : "Страницы" },
						{ name : "subs", label : "Подшаблоны" },
						{ name : "logout", url : "/logout", label : "Выйти" }
					]

				each page in pages
					li.nav-item(class={'active' : page.name === currentPage})
						a.nav-link(href=page.url || `/admin/${page.name}`)
							| #{page.label} 
							if (page.name === currentPage)
								span.sr-only (current)
	.container-fluid
		.row
			block content
