html
	head
		title Acomins inspector
		link(type='text/css', rel="stylesheet", href="/css/bootstrap/bootstrap.min.css")
		link(type='text/css', rel="stylesheet", href="/css/index.css")

		script(type="text/javascript", src="/js/jquery.slim.min.js")
		script(type="text/javascript", src="/js/tether.min.js")
		script(type="text/javascript", src="/js/bootstrap.js")
		script(type="text/javascript", src="/js/bundle.js")
		script(type="text/javascript", src="/js/src-min-noconflict/ace.js")
		script(type="text/javascript", src="/js/locomote.min.js")
	body
		block body