extends ./admin.pug
block content
	nav.col-sm-3.col-md-2.hidden-xs-down.bg-faded.sidebar
		ul.nav.nav-pills.flex-column
			- 
				subs = [{ 
					name : "create",
					label : "+ Создать подшаблон" 
				}, ...subs];

				const currentSub = (sub && sub.name);

			each sub in subs
				li.nav-item
					a.nav-link(href=`/admin/subs/${sub.name}`, class={ active : currentSub === sub.name})
						| #{sub.label || sub.name}
						if currentSub === sub.name
							span.sr-only (current)
	main.col-sm-9.offset-sm-3.col-md-10.offset-md-2.pt-3
		block subContent