extends ./admin.pug
block content
	nav.col-sm-3.col-md-2.hidden-xs-down.bg-faded.sidebar
		ul.nav.nav-pills.flex-column
			- 
				templates = [{ 
					name : "create",
					label : "+ Создать страницу" 
				}, ...templates];

				const currentTemplate = (template && template.name);

			each template in templates
				li.nav-item
					a.nav-link(href=`/admin/templates/${template.name}`, class={ active : currentTemplate === template.name})
						| #{template.label || template.name} #{template.name !== "create" && template.label ? `(${template.name})` : ''}
						if currentTemplate === template.name
							span.sr-only (current)
	main.col-sm-9.offset-sm-3.col-md-10.offset-md-2.pt-3
		block templateContent