extends ./admin.pug
block content
	nav.col-sm-3.col-md-2.hidden-xs-down.bg-faded.sidebar
		ul.nav.nav-pills.flex-column
			- 
				users = [{ 
					id : "create",
					name : "+ Создать пользователя" 
				}, ...users];

				const currentUser = (user && user.id);

			each user in users
				li.nav-item
					a.nav-link(href=`/admin/users/${user.id}`, class={ active : currentUser === user.id})
						| #{user.name}
						if currentUser === user.id
							span.sr-only (current)
	main.col-sm-9.offset-sm-3.col-md-10.offset-md-2.pt-3
		block userContent