body
	padding-top 56px
	padding-bottom 40px
	background-color #eee
h1
	margin-bottom: 20px;
	padding-bottom: 9px;
	border-bottom: 1px solid #eee;

.form-signin
	max-width 330px
	padding 15px
	margin 0 auto

	.form-signin-heading
	.checkbox
		margin-bottom 10px

	.checkbox
		font-weight normal

	.form-control
		position relative
		height auto
		box-sizing border-box
		padding 10px
		font-size 16px

	.form-control:focus
		z-index 2

	input[type="email"]
		margin-bottom -1px
		border-bottom-right-radius 0
		border-bottom-left-radius 0

	input[type="password"]
		margin-bottom 10px
		border-top-left-radius 0
		border-top-right-radius 0

/* Sidebar navigation */
.sidebar
	position: fixed;
	top: 56px;
	bottom: 0;
	left: 0;
	z-index: 1000;
	padding: 20px 0
	overflow-x: hidden;
	overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
	border-right: 1px solid #eee;

	.nav
		margin-bottom: 20px

	.nav-item
		width: 100%;

	& + .nav-item
		margin-left: 0;
  
	.nav-link
		border-radius: 0;


.admin-form
	max-width 300px


.sub-form
	width 100% 
	
.create-form
	width 100% 
	
.code
	width 100%
	height 300px 
	resize:vertical; 
	overflow:auto;
	margin 0  0 20px 0 
	
.table
	background-color #f7f7f7
	
.padding-top
	padding-top 2em 
	
.block
	margin-bottom 20px 